<nav>
    <div class="logo">
        <a href="{{ '/' | relative_url }}">PBL3 Group D</a>
    </div>
    <div class="navbar">
        <div class="nav-links">
            <a href="{{ '/posts/project-proposal/' | relative_url }}">Project Proposal</a>
            <a href="{{ '/posts/requirements-specification/' | relative_url }}">Requirements Specification</a>
            <a href="{{ '/posts/system-design/' | relative_url }}">System Design Document</a>
            <a href="{{ '/posts/system-architecture/' | relative_url }}">System Architecture</a>
            <a href="{{ '/posts/documentation/' | relative_url }}">Documentation</a>
        </div>
        <div class="underline"></div>
    </div>
</nav>