<nav>
    <div class="logo">
        <a href="{{ '/' | relative_url }}">PBL3 Group D</a>
    </div>
    <div class="navbar">
        <div class="nav-links">
            <a href="{{ '/posts/project-proposal' | relative_url }}">Project Proposal</a>
            <a href="#">Requirements Specification</a>
            <a href="#">System Design Document</a>
            <a href="#">System Architecture</a>
            <a href="{{ '/posts/documentation' | relative_url }}">Documentation</a>
        </div>
        <div class="underline"></div>
    </div>
</nav>